  .main{
    width: 250px;
    border-right: 0.1px solid gray ;
    height: 100vh;
     margin: 0;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
  }
  .postSection{
    margin-left: 600px;
  }
  .mainlogo{
    visibility: hidden;
  }

  @media (max-width: 1260px) {
    .content{
        visibility: hidden;
    }
    .main{
        width: 60px;
    }
    .postSection{
        margin-left: 100px;
    }
    .mainlogo{
      visibility: visible;
      
    margin-top: 10px;
    margin-left: 10px;
    }
  }